/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container_section {
  position: relative;
  border-radius: 0px;

  padding: 3% 15% 10% 10%;
}

.content {
  position: relative;
  height: 658px;
  width: 100%;
}

.figure_first {
  position: absolute;
  left: 2.01%;
  right: 91.85%;
  bottom: 90.84%;
}

.img_figure_1 {
  height: 85.8441273565932px;
  width: 88.32039982095296px;
}

.figure_second {
  position: absolute;
  width: 8%;
  height: 10%;
  left: 45%;
  top: 1%;
  border-radius: 50%;
  background: #FAD34F;
  opacity: 0.2;
}


 .form_container {
  position: absolute;
  width: 40%;
  height: 50%;
  top: 13%;
  left: 5%;
} 

.form_title_text {
  font-family: 'Apercu Arabic Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 130%;
  color: #3E3E3E;
}

.input-box {
  height: 50px;
  width: 90%;
  margin-bottom: 2%;
}

.input-box input,
.input-box textarea {
  height: 100%;
  width: 100%;
  border: 1px solid #DCDCDC;
  border-radius: 10px;
  background: #FFFFFF;
  padding: 0 20px;

  font-family: 'Apercu Arabic Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;

  color: #2D2D2D;
}

.input-box textarea {
  resize: none;
  padding: 20px;
  font-family: 'Apercu Arabic Pro';
}

.message-box {
  min-height: 130px;
}

.button {
  display: flex;
}

.button input[type="button"] {
  margin-top: 10%;
  color: #fff;
  background: #FAD34F;
  border: none;
  padding: 5% 10%;
  border-radius: 500px;
  transition: 0.2s;
  cursor: pointer;
  position: relative;
  font-family: 'Apercu Arabic Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1rem;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.map_img_container {
  position: absolute;
  max-width: 100%;
  width: 65%;
  height: 50%;
  left: 55%;
  top: -10%;



}

.img {
  position: absolute;
  max-width: 100%;
  width: 999px;
  height: 750px;
  top: -28px;
  border-radius: 50%;
  background: url(../public/img/map.png);
}


.figure_third {
  position: absolute;
  left: 50%;
  right: 91.85%;
  bottom: 90.84%;
  top: 30%;
}

.img_figure_2 {
  height: 127px;
  width: 127px;
}

.figure_four {
  position: absolute;
  left: 48%;
  right: 23.12%;
  top: 34%;
  bottom: 27.99%;

}

.img_figure_4 {
  height: 250px;
  width: 234px;
}

.img_figure_3 {
  height: 80px;
  width: 80px;
}

.basement {
  box-sizing: border-box;

  position: absolute;
  width: 80%;
  height: 20%;
  left: 0%;
  top: 130%;

  background: #FAFAFA;
  border: 1px solid #D8D8D8;
}

.img_icon {
  position: relative;
  left: 35%;
  top: 50px;
}

@media screen and (max-width: 700px) {
  .img {
    display: none;
  }

  .figure_second {
    width: 25%;
  }

  .img_figure_3 {
    height: 60px;
    width: 60px;
    position: relative;
    top: 50px;
  }

  .img_figure_4 {
    height: 200px;
    width: 204px;
  }

  .button input[type="button"] {
    margin-top: 40%;
  }

  .form_title_text {
    font-size: 20px;
    width: 300px;
  }

  .input-box {
    margin-bottom: 5%;
  }
}


@media screen and (max-width: 1000px) {
  .img {
    height: 400px;
    width: 800px;
    top: 50px;
  }

  .figure_second {
    width: 25%;
  }

  .img_figure_3 {
    height: 60px;
    width: 60px;
    position: relative;
    top: 50px;
  }

  .img_figure_4 {
    height: 200px;
    width: 204px;
  }

  .button input[type="button"] {
    margin-top: 30%;
  }

  .form_title_text {
    font-size: 20px;
    width: 300px;
  }

  .input-box {
    margin-bottom: 5%;
  }
}

.basement_img_img {
  height: 244px;
  width: 260px;
  left: 241px;
  border-radius: 0px;

  position: absolute;
  left: 5.02%;
  right: 74.99%;
  top: -50px;
  bottom: 50px
}

.basement_img_green {
  position: absolute;
  width: 109.25px;
  height: 93.47px;
  left: 1080px;
  bottom: 160px;
}

.basement_img_yellow {
  position: absolute;
width: 109.25px;
height: 93.47px;
left: 1235px;
bottom: 10px;
} */